
.container{
  border:1px solid black;
}
section, aside{
  margin:1.858736059%;
  background-color: green
}
section{
  float:left;
  width:63.197026%;
}
aside{
  float:right;
  width:29.3680297%;
}
/*-------------------------------------------------------
 Responsive Media Queries
---------------------------------------------------------*/
/*@media rule*/

@media all and (min-width:420px){
  .container{
    max-width: 538px;
  }
}

@media all and (max-width:420px){
  section, aside{
    float:none;
    width:auto;
  }

}
