!!! 5
%body
  %header
    %h1 Hello World
  %section
    %p wippity doo dah
    %img{:src=> "shay.jpg", :alt=> "Shay Howe"}
    %img{src: "shay.jpg", alt:"shay Howe"}
    %img{src="shay.jpg" alt="shay howe"}
    %section.feature
    %section.feature.special
    %section#hello
    %section#hello.feature(role="region")
    .awesome
    .awesome.lesson
    #getting-started.lesson
    %input {:type=>"checkbox, :checked=> true"}
    %input (type="chcekbox" checked=true)
    %input(type="chcekbox" checked)
    
